.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

ExportedObj/
*.sln
*.csproj
*.pidb
*.userprefs
*.unityproj
*.svd
*.suo
*.user
*.booproj

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Uu]nityGenerated/

.idea/
.idea/*
.vs/
.vs/*